// Place all the styles related to the ProjectInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#match {
	color: green;
	margin-bottom: 50px;
}

.einzug {
	margin-left: 50px;
}